<footer class="container-fluid page-footer font-small bggreen pt-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h4 class="text-white">Saiba mais em: </h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
            <a
              href="https://github.com/ViniciusRob"
              target="_blank"
              class="icoGit"
              ><i class="fa fa-github" aria-hidden="true"></i
            ></a>
      </div>
    </div>
  </div>
  <div class="row footer-copyright bgescuro py-2 w-auto">
      <div class="col-6 text-start">
        <span class="text-light"> © 2021 Equipe Dindes </span>
      </div>
      <div class="col-6  text-end">
        <a href="" class="text-decoration-none"><span class="text-light"> Sobre Nós </span> </a>
      </div>
  </div>
</footer>
