.bggreen{
    background-color:#23866B;
    ;
}

.fa-github:hover{
    color: #161B22;
}

.fa{
    font-size: 35pt;
    color: white;
    padding: 10px;
}

.bgescuro{
    background-color:#186450;
    ;
}