<div class="container-fluid">
  <div class="row d-flex justify-content-center my-3">
    <div class="col-xs-12 col-md-4 d-flex justify-content-center">
    <div class="card py-2 px-3 border-dark bratius" style="width: 100%">
      <div class="container d-flex justify-content-center">
        <img
          src="../../assets/dindesrosa.gif"
          class="card-img-top imgbratius"
          alt="..."
        />
      </div>

      <div class="card-body">
        <h5 class="card-title text-center">Projeto Dindes</h5>
        <p class="card-text">
          Rede social focada na inclusão no mercado de trabalho, através de um
          programa de mentorias, em que as madrinhas apoiam apadrinhadas na
          entrada no mercado de trabalho. Além disso, haverá um espaço para
          divulgação de vagas por empresas, que serão avaliadas por seus
          funcionários em quesitos de diversidade.
        </p>
      </div>
    </div> 
  </div>
  </div>

  <div class="row d-flex justify-content-center mb-3">
    <section id="team" class="pb-5">
      <div class="container">
        <h5 class="section-title h1">NOSSO TIME</h5>
        <div class="row">
          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip">
              <div class="mainflip flip-0">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p>
                        <img
                          class="img-fluid"
                          src="https://media-exp1.licdn.com/dms/image/C4E03AQFN95Miq933iw/profile-displayphoto-shrink_800_800/0/1620912361204?e=1630540800&v=beta&t=g8eZzI3bdUIkWThmlbDUeOZJzjZgxA8NH1x6cG0m3bk"
                          alt="card image"
                        />
                      </p>
                      <h4 class="card-title">Alex Avelino</h4>
                      <p class="card-text">Desenvolvedor Java Full Stack.</p>
                      <a
                        href="https://www.fiverr.com/share/qb8D02"
                        class="btn btn-primary btn-sm"
                        ><i class="fa fa-plus"></i
                      ></a>
                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">Alex Avelino</h4>
                      <p class="card-text">
                        Eu sou uma pessoa que adora aprender coisas novas e está
                        sempre atrás de novas experiências e descobertas. Gosto
                        bastante de tecnologia e programação, mais
                        especificamente na linguagem JAVA, mas também possuo
                        conhecimento básico em Python.
                      </p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="https://www.linkedin.com/in/alex-avelino-633466212/"
                          >
                            <i class="fa fa-linkedin"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="https://github.com/AlexAvelino"
                          >
                            <i class="fa fa-github"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ./Team member -->

          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div
              class="image-flip"
              ontouchstart="this.classList.toggle('hover');"
            >
              <div class="mainflip">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p>
                        <img
                          class="img-fluid"
                          src="https://media-exp1.licdn.com/dms/image/C5603AQFRqycMgS7ipw/profile-displayphoto-shrink_800_800/0/1606244967724?e=1630540800&v=beta&t=fv3H6qaXgUkKRAu4L_dE-7cIbyA4WKyYlKC1keefQig"
                          alt="card image"
                        />
                      </p>
                      <h4 class="card-title">João Nicolete</h4>
                      <p class="card-text">Desenvolvedor Java Full Stack</p>
                      <a
                        href="https://www.fiverr.com/share/qb8D02"
                        class="btn btn-primary btn-sm"
                        ><i class="fa fa-plus"></i
                      ></a>
                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">João Nicolete</h4>
                      <p class="card-text">
                        Iniciando no mundo da tecnologia como Desenvolvedor Java
                        Full Stack. Sou formado em Letras pela USP e
                        pós-graduando em Design Educacional, participo também do
                        curso de Desenvolvedor Java Jr pela Generation Brasil.
                        Desenvolvi projetos de iniciação científica durante a
                        graduação.
                      </p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="https://www.linkedin.com/in/jo%C3%A3o-nicolete-ab3453200/"
                          >
                            <i class="fa fa-linkedin"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="https://github.com/JoaoNicolete"
                          >
                            <i class="fa fa-github"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ./Team member -->

          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div
              class="image-flip"
              ontouchstart="this.classList.toggle('hover');"
            >
              <div class="mainflip">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p>
                        <img
                          class="img-fluid"
                          src="../../assets/lucas.jpeg"
                          alt="card image"
                        />
                      </p>
                      <h4 class="card-title">Lucas Escaler</h4>
                      <p class="card-text">
                        Desenvolvedor Java Full Stack
                      </p>
                      <a
                        href="https://www.fiverr.com/share/qb8D02"
                        class="btn btn-primary btn-sm"
                        ><i class="fa fa-plus"></i
                      ></a>
                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">Lucas Escaler</h4>
                      <p class="card-text">
                        Sempre com muita dedicação, fazendo diversos trabalhos como free-lancer desde os 14 anos, já passei por várias experiências. Uma grande habilidade que desenvolvi ao longo dos anos é a comunicação com o cliente. Atualmente, estou me especializando na área de TI!
                      </p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="https://www.linkedin.com/in/lucas-escaler-44921a213/"
                          >
                            <i class="fa fa-linkedin"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="https://github.com/LucasEscaler"
                          >
                            <i class="fa fa-github"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ./Team member -->

          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div
              class="image-flip"
              ontouchstart="this.classList.toggle('hover');"
            >
              <div class="mainflip">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p>
                        <img
                          class="img-fluid"
                          src="../../assets/vini.jpeg"
                          alt="card image"
                        />
                      </p>
                      <h4 class="card-title">Vinicius Roberto </h4>
                      <p class="card-text">
                       Desenvolvedor Java Full Stack
                      </p>
                      <a
                        href="https://www.fiverr.com/share/qb8D02"
                        class="btn btn-primary btn-sm"
                        ><i class="fa fa-plus"></i
                      ></a>
                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">Vinicius Roberto</h4>
                      <p class="card-text">
                        Um profissional pronto para ingressar na área de desenvolvimento, pretendo ser contratado o mais breve possível por uma empresa que promova a diversidade e dê razão paras as questões étnico-raciais, de orientação sexual e identidade de gênero já que algumas dessas me afetam pessoalmente.
                      </p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="https://www.linkedin.com/in/vin%C3%ADcius-roberto-7738411a2/"
                          >
                            <i class="fa fa-linkedin"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="https://github.com/ViniciusRob"
                          >
                            <i class="fa fa-github"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ./Team member -->
        </div>
      </div>
    </section>
    <!-- Team -->

    
  </div>
</div>
