<div class="container-fluid">
  <div class="row d-flex justify-content-center my-3">
    <div class="card py-2 px-3 border-dark bratius" style="width: 50%">
      <div class="container d-flex justify-content-center">
        <img
          src="../../assets/dindesrosa.gif"
          class="card-img-top imgbratius"
          alt="..."
        />
      </div>

      <div class="card-body">
        <h5 class="card-title text-center">Projeto Dindes</h5>
        <p class="card-text">
          Rede social focada na inclusão no mercado de trabalho, através de um
          programa de mentorias, em que as madrinhas apoiam apadrinhadas na
          entrada no mercado de trabalho. Além disso, haverá um espaço para
          divulgação de vagas por empresas, que serão avaliadas por seus
          funcionários em quesitos de diversidade.
        </p>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center mb-3">
    <div class="col-3">
      <div class="card py-2 px-3 border-dark bratius" style="width: 100%">
        <div class="container d-flex justify-content-center">
          <img
            src="https://media-exp1.licdn.com/dms/image/C4E03AQFN95Miq933iw/profile-displayphoto-shrink_800_800/0/1620912361204?e=1630540800&v=beta&t=g8eZzI3bdUIkWThmlbDUeOZJzjZgxA8NH1x6cG0m3bk"
            class="card-img-top imgbratius2"
            alt="..."
          />
        </div>

        <div class="card-body">
          <h5 class="card-title text-center">Alex Avelino</h5>
          <p class="card-text">
            Eu sou uma pessoa que adora aprender coisas novas e está sempre
            atrás de novas experiências e descobertas. Gosto bastante de
            tecnologia principalmente quando o assunto é programação, mais
            especificamente na linguagem JAVA, mas também possuo conhecimento
            básico em Python. No passado também já atuei como designer e eu
            busco transformar o mundo de alguma forma.
          </p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card py-2 px-3 border-dark bratius" style="width: 100%">
        <div class="container d-flex justify-content-center">
          <img
            src="https://media-exp1.licdn.com/dms/image/C5603AQFRqycMgS7ipw/profile-displayphoto-shrink_800_800/0/1606244967724?e=1630540800&v=beta&t=fv3H6qaXgUkKRAu4L_dE-7cIbyA4WKyYlKC1keefQig"
            class="card-img-top imgbratius2"
            alt="..."
          />
        </div>

        <div class="card-body">
          <h5 class="card-title text-center">João Nicolete</h5>
          <p class="card-text">
            Iniciando no mundo da tecnologia como Desenvolvedor Java Full Stack.
            Sou formado em Letras pela USP e pós-graduando em Design
            Educacional, participo também do curso de Desenvolvedor Java Jr pela
            Generation Brasil. Desenvolvi projetos de iniciação científica durante a graduação, na área de psicologia da educação. Também realizei intercâmbio estudantil
            durante 6 meses na Universidade Jean Piaget de Cabo Verde.
          </p>
        </div>
      </div>
    </div>
    <div class="col-3">
        <div class="card py-2 px-3 border-dark bratius" style="width: 100%">
            <div class="container d-flex justify-content-center">
              <img
                src="https://media-exp1.licdn.com/dms/image/D5635AQFLsKYxF-Dlew/profile-framedphoto-shrink_800_800/0/1623178529347?e=1624993200&v=beta&t=7CQNfVwGFytZYf1SCt8MP8W2q0km7I_ZJ_NgkEZWgXg"
                class="card-img-top imgbratius2"
                alt="..."
              />
            </div>
    
            <div class="card-body">
              <h5 class="card-title text-center">Lucas Escaler</h5>
              <p class="card-text">
                Sempre com muita dedicação, fazendo diversos trabalhos como free-lancer desde os 14 anos, já passei por várias experiências, que vão desde trabalhar em quadra de tennis até hospital, mercado, transportadora. Atualmente aproveito a oportunidade para me especializar na área de meu maior interesse...TI!
              </p>
            </div>
          </div>

    </div>
    <div class="col-3">
        <div class="card py-2 px-3 border-dark bratius" style="width: 100%">
            <div class="container d-flex justify-content-center">
              <img
                src="https://static1.funidelia.com/23600-f6_big2/nariz-de-palhaco.jpg"
                class="card-img-top imgbratius2"
                alt="..."
              />
            </div>
    
            <div class="card-body">
              <h5 class="card-title text-center">Vinicius Roberto</h5>
              <p class="card-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati pariatur veritatis, id, explicabo laboriosam omnis sint cum quaerat placeat ad magnam at atque maiores odio quibusdam laudantium optio similique natus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure in fugit voluptatem praesentium atque id amet accusamus, dolores, voluptate iusto dicta omnis earum asperiores delectus, ducimus ratione sequi labore voluptas!
              </p>
            </div>
          </div>

    </div>
  </div>
</div>
