<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center"> Atualizar Tema</h1>
        </div>
    </div>
    <div class="row d-7 justify-content-center">
        <div class="col-md-6">
            <div class="form-group">
                <label for="nomeTema"> Nome </label>
                <input type="text" class="form-control" name="nomeTema" id="nomeTema" [(ngModel)]='tema.nomeTema'>
            </div>
            <div class="form-group">
                <label for="area"> Área </label>
                <input type="text" class="form-control" name="area" id="area" [(ngModel)]='tema.area'>
            </div>
            <div class="form-group">
                <label for="descricao"> Descrição </label>
                <input type="text" class="form-control" name="descricao" id="descricao" [(ngModel)]='tema.descricao'>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button class="btn btn-danger me-4" routerLink='/home'>Cancelar</button>
                <button class="btn btn-success" (click)='atualizar()'> Atualizar </button>
            </div>
        </div>
    </div>
</div>
