<div class="container">
    <div class="row">
        <h1 class="mt-4 text-decoration-none green">Editar Postagem</h1>
        <hr />
    </div>
    <div class="row">
        <div class="col-md-3">
            <h6>Insira os novos campos no formulário para atualizar sua postagem!</h6>
        </div>
        <div class="col-md-9">
            <div class="form-group">
                <label for="texto">Texto</label>
                <textarea cols="5" rows="5" type="text" class="form-control" name="texto" id="texto" [(ngModel)]="postagem.texto"></textarea>
            </div>
            <div class="form-group mt-3">
                <label for="email">Link da Midia</label>
                <input type="text" class="form-control" name="midia" id="midia" [(ngModel)]="postagem.midia" />
            </div>

            <div class="d-flex justify-content-center mt-3 mb-3">
                <button class="btn btn-danger me-4" routerLink="/home">Cancelar</button>
                <button class="btn btn-success" (click)="atualizar()">Atualizar</button>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center"> Atualizar Postagem</h1>
        </div>
    </div>
    <div class="row d-7 justify-content-center">
        <div class="col-md-6">
            <div class="form-group">
                <label for="texto"> Texto </label>
                <textarea type="text" class="form-control" name="texto" id="texto" [(ngModel)]='postagem.texto'></textarea>
            </div>
            <div class="form-group">
                <label for="midia"> Link da Mídia </label>
                <input type="text" class="form-control" name="midia" id="midia" [(ngModel)]='postagem.midia'>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button class="btn btn-danger me-4" routerLink='/home'>Cancelar</button>
                <button class="btn btn-success" (click)='atualizar()'> Atualizar </button>
            </div>
        </div>
    </div>
</div> -->