<div class="container">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row  d-flex justify-contents-center g-0  align-items-center">
            <p class="font">Você quer ser:</p>
        </div>
        <div class="row g-0  align-items-center">
          <div class="col-md-6">
            <a (click)='dinde()'><img src="../../assets/option1.png" class="img-fluid rounded-start logo imghover1" alt="..."></a>
            <p class="font text-center">Dinde</p>
          </div>
          <div class="col-md-6" >
            <a (click)='apadrinhade()' ><img src="../../assets/option2.png" class="img-fluid rounded-start logo imghover1" alt="..."></a>
            <p class="font text-center">Apadrinhade</p>
          </div>
        </div>
      </div>
  </div>
