.text-color{
  color: #23866B;
}

.fa{
    color: #000000;
  }

.fa-pencil-square-o:hover{
    color: green;
  }
  
  .fa-trash-o:hover{
    color: #23866b;
  }
  
  .fa-heart-o:hover{
    color: red;
  }