<div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center mt-5">
        <h1 class="text-color">Confira aqui as vagas postadas!</h1>
      </div>
    </div>

    <div class="row d-flex justify-content-center mt-5 mb-5">
      <div class="col-md-4">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="nome"
            placeholder="Digite o nome de uma vaga para pesquisar"
          />
        </div>
      </div>
    </div>

    <div class="row">
        <div *ngFor="let post of listaPostagem | orderBy: key : reverse">
            <div *ngIf='post.vaga == true'>
          <div class="row">
            <div class="card w-100 p-3 mt-2">
                <h5>{{ post.usuario.nome }}</h5>
              <p>
                {{ post.data | date: "dd/MM/yyyy" }} às
                {{ post.data | date: "HH:mm" }}
              </p>
              <div class="card-body">
                <!-- <h5 class="card-title">Isso é uma postagem</h5> -->
                <p class="card-text">
                  {{ post.texto }}
                </p>
              </div>
              <img src="{{post.midia}}" class="card-img-bottom" alt="..." onerror="this.src='../../assets/post.jpg'" />
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  
