<div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center mt-5">
        <h1 class="text-color">Confira aqui as vagas postadas!</h1>
      </div>
    </div>

    <div class="row d-flex justify-content-center mt-5 mb-5">
      <div class="col-md-4">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="nome"
            placeholder="Digite o nome de uma vaga para pesquisar"
          />
        </div>
      </div>
    </div>

    <div class="row">
        <div *ngFor="let post of listaPostagem | orderBy: key : reverse">
            <div *ngIf='post.vaga == true'>
          <div class="row">
            <div class="card w-100 p-3 mt-2">
              <a href="#" class="card-link p-3 text-decoration-none green">
                <h5>{{ post.usuario.nome }}</h5>
              </a>
  
              <p>
                {{ post.data | date: "dd/MM/yyyy" }} às
                {{ post.data | date: "HH:mm" }}
              </p>
              <div class="card-body">
                <!-- <h5 class="card-title">Isso é uma postagem</h5> -->
                <p class="card-text">
                  {{ post.texto }}
                </p>
              </div>
              <img src="{{post.midia}}" class="card-img-bottom" alt="..." />

              <!-- Botõs de editar apagar e curtir -->
              <div class="d-flex mt-2">
                <a [routerLink]="['/postagem-edit', post.id]" class="me-3"><i class="fa fa-pencil-square-o"
                    aria-hidden="true"></i></a>
                <a [routerLink]="['/postagem-delet', post.id]" class="me-3"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-heart-o" aria-hidden="true"></i></a>
              </div>
              <!-- /Botõs de editar apagar e curtir -->
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  
